{subtemplate header}
<div class="bg_black" id="bg-black">
	<div class="main_block" id="main-block">
		<div class="abs_block" id="abs-block">
            <div class="head_block"></div>
            <div class="step_ico step_ico_1"></div>
            <div class="step_title title_grzl"></div>
            <div class="mid_block clearfix">
                <form name="passport_reg_form" id="passport_reg_form" action="{echo R();}" method="post">
                    <div class="form_block">
                        <div class="fields">
                            <div class="input"><input type="text" name="xingming" id="xingming" action-value="{lang XingMing}" value="" /></div> 
                            <label>{lang XingMingTips}</label>    
                        </div>  
                        <div class="fields">
                            <div class="input"><input type="text" name="birth" id="birth" action-value="{lang Birth}" value="" /></div> 
                            <label>{lang BirthTips}</label>    
                        </div> 
                        <div class="fields">
                            <div class="input">
                            <input type="password" name="password" id="password" value="" action-value="{lang Password}" /></div> 
                            <label>{lang PasswordTips}</label>    
                        </div> 
                        <div class="fields">
                            <div class="input">
                            <input type="password" name="conpassword" id="conpassword" value="" action-value="{lang Conpassword}" /></div> 
                            <label>{lang ConpasswordTips}</label>    
                        </div>  
                        <div class="fields">
                            <div class="input">
                                <span class="btn"><input type="submit" name="nextBtn" value="{lang StepNext}" /></span>
                            </div>  
                        </div>
                        <div class="blank"></div>  
                    </div>
                </form>
            </div>
            <div class="bottom_block"></div>
        </div>
	</div>
	<div class="footer_bg" id="footer-bg">
		<div class="wo_block"></div>
	</div>
</div>
<script type="text/javascript">
$(function(){

    $("#passport_reg_form")._submitForm(function(){
        var flag = $("#xingming").vaildator({onerror:'{lang JS_XINGMING_EMPTY}',min:2,isEmpty:true});
        return flag;
    },function(result){
        location.href = result.step;
    }); 
});
</script>
{subtemplate footer}