RewriteEngine on
RewriteBase /
RewriteRule ^index.html$ index.php

#从不带www跳转到带www上面
RewriteCond %{HTTP_HOST} ^yea.com$
RewriteRule ^/?$ "http\:\/\/www\.yea\.com" [R=301,L]

#禁止URL直接访问目录
RewriteRule ^(Sourcs|sourcs|Apps|apps)(\S+)*$ /Template/Public/Errors/404.htm
ErrorDocument 404 /Template/Public/Errors/404.htm
ErrorDocument 403 /Template/Public/Errors/404.htm


#访问模块内的控制器
RewriteRule ^([_A-Za-z]+)+\-([_A-Za-z]+)+\/([_A-Za-z]+)+(\S+)*$ index.php?model=$1&controller=$2&action=$3&$4 [NC,QSA,PT,L]
#直接Apps访问控制器
RewriteRule ^([_A-Za-z]+)+\-([_A-Za-z]+)+(\S+)*$ index.php?model=&controller=$1&action=$2&$3 [NC,QSA,PT,L]

#用户个性地址-访问用户下的控制器
RewriteRule ^((?!Attachments|Template|Public|index|Index)[^/]+)+/([^/|-]+)+/([A-Za-z0-9_]+)+(\S+)*$ index.php?model=user&controller=$2&user=$1&action=$3&$4 [NC,QSA,PT,L]
#用户个性地址-访问用户下默认控制器
RewriteRule ^((?!Attachments|Template|Public|index|Index)[^/]+)+(/([A-Za-z0-9_]+)+)*(\S+)*$ index.php?model=user&controller=index&user=$1&action=$3&$4 [NC,QSA,PT,L]



# proc/self/environ? 没门！ 
RewriteCond %{QUERY_STRING} proc/self/environ [OR] 
# 阻止脚本企图通过URL修改mosConfig值 
RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR] 
# 阻止脚本通过URL传递的base64_encode垃圾信息 
RewriteCond %{QUERY_STRING} base64_encode.*(.*) [OR] 
# 阻止在URL含有<\script>标记的脚本 
RewriteCond %{QUERY_STRING} (<|%3C).*script.*(>|%3E) [NC,OR] 
# 阻止企图通过URL设置PHP的GLOBALS变量的脚本 
RewriteCond %{QUERY_STRING} GLOBALS(=|[|\%[0-9A-Z]{0,2}) [OR] 
# 阻止企图通过URL设置PHP的_REQUEST变量的脚本 
RewriteCond %{QUERY_STRING} _REQUEST(=|[|\%[0-9A-Z]{0,2}) 
# 把所有被阻止的请求转向到403禁止提示页面！ 
RewriteRule ^(.*)$ index.php [F,L] 

<Files ~ "^.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes
order deny,allow