{subtemplate header}
<div class="header_block">{lang Basic}</div>
<form name="system_basic_form" id="system_basic_form" action="{SYS_URL}" method="post">
<table class="form_table">
	<tr>
		<th>{lang SiteName}</th>
		<td><input type="text" name="sitename" id="sitename" class="regular" value="{$setting['sitename']}" /> <span class="required">{lang Required}</span></td>
	</tr>
	<tr>
		<th>{lang Keyword}</th>
		<td><input type="text" name="keyword" id="sitekeyword" class="regular" value="{$setting['keyword']}"/> <span class="description"></span></td>
	</tr>
	<tr>
		<th>{lang SiteDesc}</th>
		<td><textarea name="sitedesc" id="sitedesc" class="regular" >{$setting['sitedesc']}</textarea></td>
	</tr>		
	<tr>
		<td colspan="2" class="line">&nbsp;</td>
	</tr>
	<tr>
		<th>{lang UserRegedit}</th>
		<td>
			<label for="userregedit_y"><input type="radio" name="userregedit" id="userregedit_y" value="1" />{lang Open}</label> &nbsp;
			<label for="userregedit_n"><input type="radio" name="userregedit" id="userregedit_n" value="0"/>{lang Off}</label>
		</td>
	</tr>
	<tr>
		<th>{lang Verifcode}</th>
		<td>
			<label for="verifcode_y"><input type="radio" name="verifcode" id="verifcode_y" value="1" />{lang Open}</label> &nbsp;
			<label for="verifcode_n"><input type="radio" name="verifcode" id="verifcode_n" value="0"/>{lang Off}</label> &nbsp;
			<span class="title">{lang Type}</span>
			<select name="veriftype">
				<option value="1">{lang Number}</option>
				<option value="2">{lang Abc}</option>
				<option value="3">{lang Number}+{lang Abc}</option>
			</select>
			<span class="title">{lang Length}</span>
			<input type="text" name="veriflen" id="veriflen" value="4" class="small_text" vali="isInt" maxLength="1" />
		</td>
	</tr>	
	<tr>
		<td colspan="2" class="line">&nbsp;</td>
	</tr>
	<tr>
		<th valign="top">{lang CommentSet}</th>
		<td>
			<p><label for="comment_tx"><input type="checkbox" name="comment[form]" id="comment_tx"> {lang CommentT1}</label></p>
			<p><label for="comment_zc"><input type="checkbox" name="comment[login]" id="comment_zc"> {lang CommentT2} </label></p>
			<p><label for="comment_wz"><input type="checkbox" name="comment[filter]" id="comment_wz"> {lang CommentT3} </label></p>
			<p><label for="comment_sh"><input type="checkbox" name="comment[verify]" id="comment_sh"> {lang CommentT4} </label><span class="description">({lang CommentT4Desc})</span></p>
		</td>
	</tr>
	<tr>
		<th valign="top">{lang Keyword}</th>
		<td>
			<p><span class="description">{lang CommentT5}</span></p>
			<textarea name="comment_keyword" id="comment_keyword" class="regular" style="height:100px;"></textarea>

		</td>
	</tr>
	<tr>
		<th valign="top">{lang Blacklist}</th>
		<td>
			<p><span class="description">{lang CommentT6}</span></p>
			<textarea name="comment_blacklist" id="comment_blacklist" class="regular" style="height:100px;"></textarea>

		</td>
	</tr>
	<tr>
		<td colspan="2" class="line">&nbsp;</td>
	</tr>
	<tr>
		<th>{lang MainSever}</th>
		<td><input type="text" name="mail[server]" id="mail_server" value="mail.example.com" class="regular" /></td>
	</tr>
	<tr>
		<th>{lang MainPort}</th>
		<td><input type="text" name="mail[port]" id="mail_port" value="110" class="small_text" vali="isInt" /></td>
	</tr>
	<tr>
		<th>{lang LoginUser}</th>
		<td><input type="text" name="mail[user]" id="mail_user" value="login@example.com" class="regular" /></td>
	</tr>
	<tr>
		<th>{lang Password}</th>
		<td><input type="text" name="mail[password]" id="mail_pw" value="password" class="regular" /></td>
	</tr>			
	<tr>
		<td colspan="2" class="line">&nbsp;</td>
	</tr>		
	<tr>
		<th>&nbsp;</th>
		<td><input type="submit" value="{lang BtnUupdate}" class="button_ok" /></td>
	</tr>

</table>
</form>
<script type="text/javascript">
$(function(){
	$("#system_basic_form")._submitForm(function(){
		var flag = $("#sitename").vaildator({onerror:'{lang JS_SiteName_Empty}',min:2,isEmpty:true});
		return flag;
	},function(result){
		location.reload();
		$(document).scrollTop(0);
	});
});
</script>
{subtemplate footer}