html{overflow-y:hidden}
body{font-size:14px;background:url('../images/kedarsonigra.jpg') repeat-x center top #deeef9;margin:0px;padding:0px;}
a{text-decoration:none;}
h4,form,input{margin:0px;padding:0px;}
img{border:0px;}
.link888{color:#888;}
.link6a92ab{color:#6a92ab;}
.blank{clear:both;font-size:0px;width:100%;overflow:hidden;}
#bg_line{width:100%;height:731px;}
#header{width:100%;height:52px;background:url('../images/top_bg.jpg') repeat-x;}
#wrap{width:1000px;margin:0 auto;position:relative;padding-top:60px;}
#logo{width:1000px;height:52px;margin:0 auto;}
.main_left{float:left;width:600px;}
.main_right{float:right;width:388px;height:325px;position:relative;}
.reg_bg{background-color:#fff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;filter:alpha(opacity=60);opacity:0.6;position:absolute;width:388px;height:325px;left:0px;top:0px;}
.reg_box{position:absolute;width:388px;height:325px;left:0px;top:0px;}
.main_right h4{width:328px;margin:0 auto;padding-top:24px;font-size:18px;color:#6e8b99;}
.rel_label_email{float:left;margin-left:30px;margin-top:62px;color:#888;}
.reg_form{float:left;width:259px;margin-top:52px;}
.reg_email{width:269px;height:38px;line-height:38px;border:0px;padding-left:5px;padding-right:5px;font-size:18px;font-weight:bold;color:#fff;background:url('../images/reg_email_bg.gif') no-repeat;}
.reg_submit{width:279px;height:36px;line-height:36px;background-color:#ffa9a9;border:0px;color:#fff;margin-top:18px;border-top:1px solid #fff;border-bottom:1px solid #afb3b6;font-size:14px;font-weight:bold;cursor:pointer;}
.reg_or{width:370px;height:9px;background:url('../images/reg_or.png') no-repeat;clear:both;margin:0 auto;margin-top:12px;}
.reg_passport_text{color:#898f96;font-size:14px;width:328px;margin:0 auto;margin-top:19px;}
.login_other_ico{float:left;display:block;width:39px;height:40px;margin-top:16px;}
.login_sina_ico{background:url('../images/other_login_ico.gif') no-repeat;margin-left:30px;}
.login_qq_ico{background:url('../images/other_login_ico.gif') no-repeat;background-position:0px -40px;}
.login_other_text{float:left;margin-left:12px;margin-right:12px;margin-top:27px;color:#999;}
.login_location{float:right;margin-right:38px;width:101px;height:37px;line-height:37px;color:#8d938e;display:block;background-color:#c9eacf;border-top:1px solid #fff;border-bottom:1px solid #888;text-align:center;font-weight:bold;margin-top:16px;}

#footer{width:100%;position:absolute;bottom:0px;left:0px;}
.footer_house{width:100%;height:98px;background:url('../images/footer_house.jpg') repeat;}
.footer_lang{width:100%;height:38px;background:url('../images/footer_lang.jpg') repeat;}
.footer_ge{width:100%;height:57px;background:url('../images/footer_ge.jpg') repeat;}
