{subtemplate header}
<div class="bg_black" id="bg-black">
	<div class="main_block" id="main-block">
		<div class="abs_block step_1" id="abs-block">
            <form name="passport_reg_form" id="passport_reg_form" action="{SYS_URL}passport-reg/step" method="post">
                <div class="form_block">
                    <div class="fields">
                        <div class="input"><input type="text" name="xingming" id="xingming" action-value="{lang xingming}" value="" /></div> 
                        <label>{lang xingming_tips}</label>    
                    </div>  
                    <div class="fields">
                        <div class="input"><input type="text" name="birth" id="birth" action-value="{lang birth}" value="" /></div> 
                        <label>{lang birth_tips}</label>    
                    </div> 
                    <div class="fields">
                        <div class="input">
                        <input type="text" name="showpassword" id="showpassword" action-value="{lang password}" value="" />
                        <input type="password" name="password" id="password" value="" style="display:none;" /></div> 
                        <label>{lang password_tips}</label>    
                    </div> 
                    <div class="fields">
                        <div class="input">
                        <input type="text" name="showconpassword" id="showconpassword" action-value="{lang conpassword}" value="" />
                        <input type="password" name="conpassword" id="conpassword" value="" style="display:none;" /></div> 
                        <label>{lang conpassword_tips}</label>    
                    </div>  
                    <!--<div class="fields">
                        <label class="domain">{SYS_URL}</label>
                        <div class="input w80"><input type="text" name="domain" id="domain" action-value="{lang domain}" value="" /></div> 
                        <label>{lang domain_tips}</label>    
                    </div>--> 
                    <div class="fields">
                        <input type="submit" name="nextBtn" class="input_next" value="{lang step_next}" />  
                    </div>  
                </div>
            </form>
        </div>
	</div>
	<div class="footer_bg" id="footer-bg">
		<div class="wo_block"></div>
	</div>
</div>
{subtemplate footer}