html{margin:0px;padding: 0px;overflow-y: auto;}
body {font-size:12px; text-align:left; font-family:"Microsoft YaHei",Arial,Lucida,Verdana,Helvetica,sans-serif;padding:0px;margin:0px;background:url("../images/bg.png") #f5f5f5;}
input[type="text"],input[type="file"],input[type="password"],textarea,select{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border:1px solid #aaa;}
input[type="checkbox"], input[type="radio"] {margin: 1px 0 0; padding: 0;}
input[type="text"].input_focus,
input[type="file"].input_focus,
input[type="password"].input_focus,
.input_focus{border:1px solid #3399cc;background:#eaf8fc;}
input[type="text"].input_succ,
input[type="file"].input_succ,
input[type="password"].input_succ,
.input_succ{border:1px solid #339900;background:#f4fee9;}
input[type="text"].input_err,
input[type="file"].input_err,
input[type="password"].input_err,
.input_err{border:1px solid #ff0000;background:#fff0f0;}

.description{color:#aaa;font-size: 12px;font-weight: 100;padding-left:10px;}
.required{color:#ff0000;font-size: 12px;font-weight: 100;padding-left:10px;}

.admin_top_block{width:100%;height:70px;background:url("../images/admin_top_bg.gif") repeat-x;position: relative;z-index:1;}
.admin_top_block .top-block{width:100%;height:70px;background:url("../images/admin_top_right_bg.gif") no-repeat right top;position: absolute;z-index:10;border-bottom:1px solid #dfe9eb;}
.admin_top_block .top-block .logo{background:url("../images/logo.gif") no-repeat left -10px;width:300px;height:70px;}
.admin_top_block .m_nav_block{position: absolute;z-index:12;height:28px;left:280px;top:42px;}
.admin_top_block .m_nav_block ul{height:28px;}
.admin_top_block .m_nav_block ul li{background:#0194c7;height:28px;line-height:28px;float:left;}
.admin_top_block .m_nav_block ul li a{background:#3390af;margin-right:1px;margin-top:1px;padding:0px 15px;float:left;height:26px;line-height:26px;color:#fff;font-size:14px;font-weight:700;border-left:1px solid #047aa0;border-bottom:1px solid #047aa0;}
.admin_top_block .m_nav_block ul li a:hover{color:#fff;}
.admin_top_block .m_nav_block ul li.hover{background:#eee;}
.admin_top_block .m_nav_block ul li.hover a{background:#eee;color:#333;border:0px;height:28px;line-height:28px;}
.admin_top_block .r_nav_block{position: absolute;z-index:12;top:0px;right:1px;}
.admin_top_block .r_nav_block a{padding:0px 15px;margin-right:1px;background:#3390af;float:left;height:26px;line-height:26px;color:#fff;font-size:12px;font-weight:700;border-left:1px solid #047aa0;border-bottom:1px solid #047aa0;}
.admin_top_block .r_nav_block .login_info{color:#fff;float: left;height:26px;line-height:26px;padding:0px 15px;}
.m_nav_child_block{background:#eee;border-bottom:1px solid #d1d1d1;height:35px;line-height:35px;}
.m_nav_child_block ul{margin-left:250px;}
.m_nav_child_block ul li{margin:10px 0px 0px 10px;background:url("../images/admin.png") no-repeat right -291px;float:left;height:15px;line-height:15px;}
.m_nav_child_block ul li a{padding:0px 20px 0px 10px;display: block;float: left;color:#999;}
.m_nav_child_block ul li a:hover,
.m_nav_child_block ul li a.focus{color:#333;font-weight:700;}

.dialog_pop{z-index:100;margin:10px auto;}
.dialog_pop .pop_blcok{padding:0px 10px;height:34px;line-height:34px;background:url("../images/message_bg.png") repeat-x;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.dialog_pop .pop_blcok .ico_block{width:16px;height:16px;float:left;margin:9px;}
.dialog_pop .pop_blcok span{float:left;padding:0px 20px 0px 0px;}
.dialog_pop .pop_succ_blcok{border:1px solid #b5dd87;color:#417800;}
.dialog_pop .pop_succ_blcok .ico_block{background:url("../images/admin.png") no-repeat 0px -127px;}
.dialog_pop .pop_error_blcok{border:1px solid #f7bab8;color:#a11c02;background-position:0px -34px;}
.dialog_pop .pop_error_blcok .ico_block{background:url("../images/admin.png") no-repeat 0px -70px;}
.dialog_pop .pop_warn_blcok{border:1px solid #e0e365;color:#998500;background-position:0px -68px;}
.dialog_pop .pop_warn_blcok .ico_block{background:url("../images/admin.png") no-repeat 0px -250px;}
.dialog_pop .pop_info_blcok{border:1px solid #acdaf8;color:#006caa;background-position:0px -102px;}
.dialog_pop .pop_info_blcok .ico_block{background:url("../images/admin.png") no-repeat 0px -192px;}

.table_list{border:0px;padding:0px;margin:0px auto;}
.table_list th{background:url("../images/table.png") repeat-x 0px -123px;height:30px;line-height:30px;color:#333;font-weight:700;font-size:14px;text-align:left;}
.table_list td{height:30px;line-height:30px;font-size:12px;font-weight:100;color:#3399cc;border-bottom:1px solid #e6e6e6;}
.table_list th,.table_list td{padding:0px 2px;}
.table_list tr.hover{background:#f0f0f0;}
.table_list .bnone{border:0px;}

.page_block{float:right;display: inline;text-align:left;}
.page_block a,.page_block span{display:inline-table;color:#01628f;border:1px solid #e6e6e6;height:22px;line-height:22px;padding:0px 6px;margin:0px 2px;font-family:Verdana;overflow: hidden;}
.page_block span{background:#00769c;color:#fff;border:1px solid #00769c;}
.page_block .dis{background:#eee;color:#aaa;border:1px solid #eee;}

.main_block{width:90%;margin: 10px auto;}
.footer_block{font-size:10px;height:26px;line-height: 26px;background:url("../images/bg1.png") #ccc;color:#666;text-align: center;position: relative;font-family: verdana}
.footer_block a{color:#666;}
.scroll_top_block{width:29px;height:27px; position:fixed; _position:absolute;bottom:10px;right:10px;z-index:100;display:none;}
.scroll_top_block a{display: block;width:29px;height:27px;background:url("../images/scroll_top.png") no-repeat;}
.scroll_top_block a:hover{background-position: 0px bottom;}
.header_block{color: #555;font-size: 14px;font-weight: 700;padding:5px 10px;border-bottom: 1px solid #ccc;background:#fff;}
.aaa{width:120px;height:20px; position:fixed; _position:absolute;bottom:20px;left:10px;z-index:100;}

.form_table{border-collapse:collapse;clear: both;width:100%;margin-top:.5em;}
.form_table th{font-size: 14px;color:#555;width:180px;text-align: right;line-height: 1.4em;padding:10px;font-weight: 700}
.form_table td{font-size: 12px;color:#555;line-height: 1.4em;padding:10px;}
.form_table .title{font-size: 14px;color:#555;text-align: right;line-height: 1.4em;padding:10px;font-weight: 700}
.form_table p{padding:5px 0px;line-height: 20px;}
.form_table label{vertical-align: middle;cursor: pointer;}
.form_table input[type="text"],
.form_table textarea{padding:5px 4px;}
.form_table td.line{background: url("../images/line.png") repeat-x left center;padding:4px 10px;}
.regular{padding:5px 4px;width:35em;}
.small_text{padding:5px 4px;width:50px;}

.button_ok1{background:url("../images/admin.png") no-repeat;width:80px;height:26px;line-height:26px;border:0px;color:#fff;cursor: pointer}
.button_ok{

    background-color: #505050;
    background-image: linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -o-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -moz-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -webkit-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -ms-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #505050),
        color-stop(1, #707070)
    );
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #808080;
    color: #FFF;
    font: bold 12px Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    padding:5px;
}
.button_ok:hover{
    background-color: #606060;background-image: linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -o-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #606060),
        color-stop(1, #808080)
    );
    background-position: center bottom;
}
.button_cancel{background:url("../images/admin.png") no-repeat -112px 0px;width:80px;height:26px;line-height:26px;border:0px;color:#333;cursor: pointer}








