{subtemplate Public:Head:header}
{loadcss Default:Default}
<div class="main_block">
	<div class="view_person_h">&nbsp;</div>
	<div class="view_block">
		<div class="person_block">
			<div class="person_avatar">
				<div class="avatar"><img src="{PUBLIC_IMAGES}Test/avatar.jpg" /></div>
			</div>
			<div class="person_info">
				<p class="username">曦曦妹</p>
				<p class="desc">我家的曦曦妹,{$user}</p>
				<div class="ulink">
					<ul>
						<li>
							<span class="like"></span>
							<em>123</em>
						</li>
						<li>
							<span class="log"></span>
							<em>123</em>
						</li>
						<li>
							<span class="photo"></span>
							<em>123</em>
						</li>
						<li>
							<span class="review"></span>
							<em>123</em>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="l_container">
		</div>
		<div class="l_scrubber">
			<ul class="scrubber_list">
				<li>
					<a href="javascript:;" class="cur">现在</a>
					<ul class="scrubber_list_m">
						<li><a href="javascript:;" class="">8月</a></li>
						<li><a href="javascript:;" class="">7月</a></li>
						<li><a href="javascript:;" class="">6月</a></li>
						<li><a href="javascript:;" class="">5月</a></li>
						<li><a href="javascript:;" class="">4月</a></li>
						<li><a href="javascript:;" class="">3月</a></li>
						<li><a href="javascript:;" class="">2月</a></li>
						<li><a href="javascript:;" class="">1月</a></li>
					</ul>
				</li>					
			</ul>
			<ul class="scrubber_list">
				<li><a href="javascript:;" class="">2011</a></li>
				<li><a href="javascript:;" class="">2010</a></li>
			</ul>				
		</div>		
	</div>
</div>
