</div>
<div class="scroll_top_block" id="scrollTop"><a href="javascript:;"></a></div>
<div class="footer_block" id="footer_block">
	◎Copyright 2012 Your Company | Powered by <a href="http://www.jaing.net" target="_blank">caojiayin(caojiayin1984@foxmail.com)</a>
</div>
{if $this->session->get("poptips")}
<script type="text/javascript">
$(function(){
	$("body").pop({content:'{echo  $this->session->get("message","poptips")}',cat:'{echo  $this->session->get("status","poptips")}'});
})
</script>
{echo  $this->session->removeAll("poptips")}
{/if}
</body>
</html>