{subtemplate header}
<div class="dialog_pop">
	<div class="pop_blcok pop_succ_blcok">
		<div class="ico_block"></div>
		<span>提示促使竦励提示促使竦励</span>
	</div>
</div>
<div class="dialog_pop">
	<div class="pop_blcok pop_error_blcok">
		<div class="ico_block"></div>
		<span>提示促使竦励提示促使竦励</span>
	</div>
</div>
<div class="dialog_pop">
	<div class="pop_blcok pop_warn_blcok">
		<div class="ico_block"></div>
		<span>提示促使竦励提示促使竦励</span>
	</div>
</div>
<div class="dialog_pop">
	<div class="pop_blcok pop_info_blcok">
		<div class="ico_block"></div>
		<span>提示促使竦励提示促使竦励</span>
	</div>
</div>

<table class="table_list" cellpadding="0" cellspacing="0" width="90%">
	<tr>
		<th style="width:50px;"><input type="checkbox" /></th>
		<th>名称</th>
		<th>登录名</th>
		<th>IP</th>
		<th>EMail</th>
		<th>联系电话</th>
		<th>联系地址</th>
	</tr>
	<tr>
		<td style="width:50px;"><input type="checkbox" /></td>
		<td>曹甲寅</td>
		<td>caojiayin</td>
		<td>127.0.0.1</td>
		<td>caojiayin1984@gmail.com</td>
		<td>13996403537</td>
		<td>重
	<tr class="hover">
		<td style="width:50px;"><input type="checkbox" /></td>
		<td>曹甲寅</td>
		<td>caojiayin</td>
		<td>127.0.0.1</td>
		<td>caojiayin1984@gmail.com</td>
		<td>13996403537</td>
		<td>重
	<tr>
		<td style="width:50px;"><input type="checkbox" /></td>
		<td>曹甲寅</td>
		<td>caojiayin</td>
		<td>127.0.0.1</td>
		<td>caojiayin1984@gmail.com</td>
		<td>13996403537</td>
		<td>重庆市渝北区</td>
	</tr>
	<tr>
		<td colspan="10">
			<div class="blank10"></div>
			<div class="page_block">
				<a class="dis">&lt; Prev</a>
				<span>1</span>
				<a href="">2</a>
				<a href="">3</a>
				<a>Next &gt;</a>
			</div>
		</td>
	</tr>
</table>
<div class="blank10"></div>
<div id="fileQueue">aaa</div>
<input type="file" name="Filedata" id="uploadify" />
<input type="file" name="Filedata" id="uploadify1" />
<div class="blank10"></div>
<div class="blank10"></div>
<script type="text/javascript">
  $(function(){
  	$("#uploadify")._upload({uploader:CJY.domain+'file-fileupload/admin'});
  	$("#uploadify1")._upload({uploader:CJY.domain+'file-fileupload/admin'});
  })
 </script>
{subtemplate footer}